* {
    margin: 0px;
    padding: 0px;
}

body {
    background: darkgray;
}
nav {
    display: flex;
    justify-content: center;

    background: #333;
    color: 333;
}
.btn {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    background: #d18800;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background: #ffa500;
}

.modal-wrapper {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(0,0,0,0.6);
}

.hidden {
    visibility: hidden;
}

#modal {
    width: 600px;
    height: 400px;
    background: #333;
    font-size: 24px;
    color: #999;
    padding: 20px;
    overflow-y: auto;
}

#param {
    padding: 10px 0px;
    width: 90%;
}

#execute {
    padding: 10px 0px;
    margin: 0px;
}

.form-control {
    display: flex;
}

#content {
    padding: 20px;
}

.close {
    background: #e42b2b;
    border: none;
    color: #fff;
    padding: 7px;
    float: right;
    cursor: pointer;
}